In [108]:
import pandas as pd
import numpy as np

In [109]:
df = pd.read_csv('test1.csv')

In [110]:
type(df)

pandas.core.frame.DataFrame

In [111]:
df

   col1     col2  col3
0     1        a  6547
1     2        b  9009
2     3        c  8888
3     4    a,b,c   765
4     5  a,"b",c   356

In [112]:
df = pd.read_csv('test2.csv') # this should be an error.

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 4

In [113]:
df = pd.read_csv('test2.csv', error_bad_lines=False)

b'Skipping line 5: expected 3 fields, saw 4\n'

In [114]:
df

   id            address   city
0   1      123 First St.  CityA
1   2  321 Second Street  CityB
2   3       99 Third Str  CityC
3   5    62 Fifth Street  CityE

In [115]:
df = pd.read_csv('test3.csv')

In [116]:
df

   id          address   city
0   1              123  CityA
1   2              321  CityB
2   3               99  CityC
3   4               58  CityD
4   5  62 Fifth Street  CityE

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       5 non-null      int64
 1   address  5 non-null      object
 2   city     5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [118]:
import csv

def write_n_rows(csvwriter, n, row):
    rows = []
    for i in range(n):
        rows.append(row)
    csvwriter.writerows(rows)


with open('test4.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    header = ['col1', 'col2']
    csvwriter.writerow(header)
    
    write_n_rows(csvwriter, 1000000, ['a', 123])
    write_n_rows(csvwriter, 10, ['a', 'Hello'])

In [119]:
df = pd.read_csv('test4.csv')

C:\Users\liann\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

If just took a look at the first few rows we would think it's a numeric column. In fact they actually are numeric as we can add numbers to them.

In [120]:
df.loc[:20, 'col2'] + 100

0     223
1     223
2     223
3     223
4     223
5     223
6     223
7     223
8     223
9     223
10    223
11    223
12    223
13    223
14    223
15    223
16    223
17    223
18    223
19    223
20    223
Name: col2, dtype: object

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000010 entries, 0 to 1000009
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   col1    1000010 non-null  object
 1   col2    1000010 non-null  object
dtypes: object(2)
memory usage: 15.3+ MB

In [122]:
df['col2'] + 100

TypeError: can only concatenate str (not "int") to str

In [123]:
df['col2'].str.len()

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
1000005    5.0
1000006    5.0
1000007    5.0
1000008    5.0
1000009    5.0
Name: col2, Length: 1000010, dtype: float64

In [124]:
col2_first = df.at[0, 'col2']
print(col2_first)
print(type(col2_first))

123
<class 'int'>

In [125]:
col2_last = df.at[1000009, 'col2']
print(col2_last)
print(type(col2_last))

Hello
<class 'str'>

In [126]:
df = pd.read_csv('test4.csv', low_memory=False)

In [127]:
col2_first = df.at[0, 'col2']
print(col2_first)
print(type(col2_first))

123
<class 'str'>

In [128]:
col2_last = df.at[1000009, 'col2']
print(col2_last)
print(type(col2_last))

Hello
<class 'str'>

In [129]:
df['col2'].str.len()

0          3
1          3
2          3
3          3
4          3
          ..
1000005    5
1000006    5
1000007    5
1000008    5
1000009    5
Name: col2, Length: 1000010, dtype: int64

In [130]:
df = pd.read_csv('test4.csv', dtype={'col2': 'string'})

In [131]:
df['col2'].str.len()

0          3
1          3
2          3
3          3
4          3
          ..
1000005    5
1000006    5
1000007    5
1000008    5
1000009    5
Name: col2, Length: 1000010, dtype: Int64

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000010 entries, 0 to 1000009
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   col1    1000010 non-null  object
 1   col2    1000010 non-null  string
dtypes: object(1), string(1)
memory usage: 15.3+ MB

In [133]:
def converter_func(x):
    try:
        x = np.float(x)
        return x
    except:
        return np.nan
    
df = pd.read_csv('test4.csv', converters={'col2': converter_func})

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000010 entries, 0 to 1000009
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   col1    1000010 non-null  object
 1   col2    1000000 non-null  float64
dtypes: float64(1), object(1)
memory usage: 15.3+ MB

In [135]:
df['col2']

0          123.0
1          123.0
2          123.0
3          123.0
4          123.0
           ...
1000005      NaN
1000006      NaN
1000007      NaN
1000008      NaN
1000009      NaN
Name: col2, Length: 1000010, dtype: float64

In [136]:
df['col2'] + 100

0          223.0
1          223.0
2          223.0
3          223.0
4          223.0
           ...
1000005      NaN
1000006      NaN
1000007      NaN
1000008      NaN
1000009      NaN
Name: col2, Length: 1000010, dtype: float64

In [137]:
df = pd.read_csv('test4.csv', usecols=['col2'], dtype={'col2': 'string'})

In [138]:
df

          col2
0          123
1          123
2          123
3          123
4          123
...        ...
1000005  Hello
1000006  Hello
1000007  Hello
1000008  Hello
1000009  Hello

[1000010 rows x 1 columns]

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000010 entries, 0 to 1000009
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   col2    1000010 non-null  string
dtypes: string(1)
memory usage: 7.6 MB

In [140]:
df = pd.read_csv('test5.csv')
df

   1        a  6547
0  2        b  9009
1  3        c  8888
2  4    a,b,c   765
3  5  a,"b",c   356

In [141]:
df = pd.read_csv('test5.csv', names=['my_col1', 'my_col2', 'my_col3'])
df

   my_col1  my_col2  my_col3
0        1        a     6547
1        2        b     9009
2        3        c     8888
3        4    a,b,c      765
4        5  a,"b",c      356

In [142]:
pd.read_csv('test5.csv', prefix='col', header=None)

   col0     col1  col2
0     1        a  6547
1     2        b  9009
2     3        c  8888
3     4    a,b,c   765
4     5  a,"b",c   356

In [143]:
df = pd.read_csv('test4.csv', nrows=10) # read the first 10 rows.

In [144]:
df = pd.read_csv('test4.csv', dtype={'col2': 'string'}, skiprows=100000)

C:\Users\liann\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [145]:
df.shape

(900010, 2)

In [146]:
skip_list = np.random.choice(range(1000010), size=200000, replace=False)
df = pd.read_csv('test4.csv', dtype={'col2': 'string'}, skiprows=skip_list)

In [147]:
df.shape

(800010, 2)

In [148]:
df = pd.read_csv('test4.csv', dtype={'col2': 'string'}, names=['col1', 'col2'], skiprows=lambda x: np.random.uniform() < 0.9 or x == 0)

In [149]:
df.shape

(100090, 2)

In [162]:
reader = pd.read_csv('test4.csv', dtype={'col2': 'string'}, chunksize=1000)
type(reader)

pandas.io.parsers.TextFileReader

In [151]:
reader.get_chunk()

    col1 col2
0      a  123
1      a  123
2      a  123
3      a  123
4      a  123
..   ...  ...
995    a  123
996    a  123
997    a  123
998    a  123
999    a  123

[1000 rows x 2 columns]

The next call gets the 2nd chunk

In [152]:
reader.get_chunk()

     col1 col2
1000    a  123
1001    a  123
1002    a  123
1003    a  123
1004    a  123
...   ...  ...
1995    a  123
1996    a  123
1997    a  123
1998    a  123
1999    a  123

[1000 rows x 2 columns]

We can specify how many records to read in the next chunk by passing in an integer.

In [153]:
reader.get_chunk(10)

     col1 col2
2000    a  123
2001    a  123
2002    a  123
2003    a  123
2004    a  123
2005    a  123
2006    a  123
2007    a  123
2008    a  123
2009    a  123

In [166]:
reader = pd.read_csv('test4.csv', dtype={'col2': 'string'}, chunksize=1000)
agg_list = []
for chunk in reader:
    agg = chunk.groupby('col2')['col1'].count().reset_index()
    agg_list.append(agg)
    
df_agg = pd.concat(agg_list)

In [167]:
df_agg

     col2  col1
0     123  1000
0     123  1000
0     123  1000
0     123  1000
0     123  1000
..    ...   ...
0     123  1000
0     123  1000
0     123  1000
0     123  1000
0   Hello    10

[1001 rows x 2 columns]

In [168]:
df_agg.groupby('col2')['col1'].sum().reset_index()

    col2     col1
0    123  1000000
1  Hello       10

In [157]:
pd.read_csv('test4.csv.zip', compression='zip', dtype={'col2': 'string'})

        col1   col2
0          a    123
1          a    123
2          a    123
3          a    123
4          a    123
...      ...    ...
1000005    a  Hello
1000006    a  Hello
1000007    a  Hello
1000008    a  Hello
1000009    a  Hello

[1000010 rows x 2 columns]